extends layout.pug

block header
  include common/header.pug

block content

  if(user)
    form(class="user-form" method="post" action="/update-user-info")
      div(class="form-row")
        label(for="name")
          | Name:
        input(type="text" class="form-control" name="name" id="name" value=user.name)
      div(class="form-row")
        label(for="email")
          | Email:
        div(class="user-info")
          | #{user.email}
      div(class="form-row")
        label(for="provider")
          | Provider:
        div(class="user-info")
          - user.provider = user.provider.charAt(0).toUpperCase() + user.provider.slice(1);
          | #{user.provider}
      div(class="form-row")
        button(type="submit" class="btn btn-primary") Submit

    if(notes)
      div(class="dashboard-content")
        div(class="row")
          hr
          h1 Repos With Notes
          hr

      div(class="row")
          ul(class="repos-with-notes")
            each val in notes
              li
                a(href=`profile/${val.repo}`) #{val.repo}



  else
    include common/login-box.pug

